h1{
  
  text-align: center;
}
nav {
    position: absolute;
    left: 0px;
    height: 40px;
    background-color: #2C64B4;
    width: 100%;
    text-align: center;
}
nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    color:white;
}

nav ul li{
  padding-left: 10px;
  padding-right:10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

figcaption{
  font-size:small;
  text-align:center;
  
}
#featured-property p {
  width: 800px;
  text-align:center;
}

#details {
  display: block;
  float:left;
  width: 25%;
}

section #details div{
  float:left;
  width:25%;
  
}
  
